* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(57, 66, 194);
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10vh;
    height: 100vh;
    margin: 0;
}

form {
    padding: 10vh;
    border-radius: 1vh;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}


/*this is the workaround for that odd behaviour*/
.upload-file {
    height: 5vh;
    background-color: white;
    border:solid 1px;
    border-radius: 1vh;

}
label.upload-file {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:2vh;
    text-align: center;
}

label:hover{
    animation: up 0.3s forwards;
    cursor: pointer;
}

@keyframes up {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}

/*this makes the browser dependent button vanish*/
input[type=file] {
    display: none;
    text-align: center;
}

input[type=submit] {
    height: 5vh;
}
input[type=submit]:hover {
    animation: up 0.3s forwards;
    cursor: pointer;
}

h1 {
    font-family: sans-serif;
    font-size: 3vh;
}

/*succeed*/
.Success{
    background-color: lightgray;
    border-radius: 1vh;
    border-color: black;

    height: 20vh;
    width: 80%;
    padding: 5vh;

}
a{
    text-decoration: none;
    font-size: 3vh;
    color: black;

}
